<template>
    <div id="wiki">
        <Tiptap/>
    </div>
</template>
<script>
    import Tiptap from '@/components/Tiptap'
    export default {
        components:{
            Tiptap
        }
    }
</script>